svg[data-v-06591cdc] {
    height: 16px;
    width: 16px;
}
.blue-coin path[data-v-06591cdc] {
    fill: #90a2e8;
}
.green-coin path[data-v-06591cdc] {
    fill: #00ff93;
}
.dark-coin path[data-v-06591cdc] {
    fill: #282e43;
}
.inline-coin[data-v-06591cdc] {
    display: inline-block;
}