html[data-v-e0043e1f] {
    scroll-behavior: smooth;
}
.bronze-ticket .ticket-card[data-v-e0043e1f] {
    fill: #c78262;
}
.silver-ticket .ticket-card[data-v-e0043e1f] {
    fill: #a4d4f7;
}
.gold-ticket .ticket-card[data-v-e0043e1f] {
    fill: #ffe500;
}
.header-ticket[data-v-e0043e1f] {
    fill: #292e3f;
    stroke: #fff;
}
.grey-gold-coin path[data-v-e0043e1f] {
    fill: #ffffffbf;
}