html[data-v-7f5f48a4] {
    scroll-behavior: smooth;
}

.game-series__top[data-v-7f5f48a4] {
    align-items: center;
    display: flex;
    font-size: 40px;
    font-weight: 700;
    gap: 16px;
    letter-spacing: -.03em;
    line-height: 36px;
}

@media (max-width: 1280px) {
    .game-series__top[data-v-7f5f48a4] {
        font-size: 32px;
        gap: 12px;
        line-height: 29px;
    }
}

.game-series__top h2[data-v-7f5f48a4] {
    padding: 0;
}

.game-series__container[data-v-7f5f48a4] {
    display: flex;
    gap: 1.5rem;
    margin-top: 32px;
    overflow: scroll;
    scrollbar-width: none;
}

@media (max-width: 1550px) {
    .game-series__container[data-v-7f5f48a4] {
        gap: 1rem;
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .game-series__container[data-v-7f5f48a4] {
        margin-top: 24px;
    }
}

.game-series__item[data-v-7f5f48a4] {
    height: 360px;
    min-width: 504px;
    width: 504px;
}

@media (max-width: 1550px) {
    .game-series__item[data-v-7f5f48a4] {
        height: 294px;
        min-width: 408px;
        width: 408px;
    }
}

@media (max-width: 1280px) {
    .game-series__item[data-v-7f5f48a4] {
        height: 262px;
        min-width: 360px;
        width: 360px;
    }
}

@media (max-width: 767px) {
    .game-series__item[data-v-7f5f48a4] {
        height: 244px;
        min-width: 340px;
        width: 340px;
    }
}

.game-series__item img[data-v-7f5f48a4] {
    height: 100%;
    width: 100%;
}

html[data-v-aafb8add] {
    scroll-behavior: smooth;
}

.popular-genres__title[data-v-aafb8add] {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -.025em;
    line-height: 36px;
    text-align: left;
}

.popular-genres__list[data-v-aafb8add] {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    overflow: scroll;
    scrollbar-width: none;
}

.popular-genres__item[data-v-aafb8add] {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

@media (max-width: 1550px) {
    .popular-genres__list[data-v-aafb8add] {
        gap: 1rem;
        margin-top: 1.5rem;
    }
}

@media (max-width: 1280px) {
    .popular-genres__title[data-v-aafb8add] {
        font-size: 32px;
        line-height: 29px;
    }

    .popular-genres__list[data-v-aafb8add] {
        gap: .75rem;
        margin-top: 1.25rem;
    }
}

.genre-item[data-v-aafb8add] {
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    border-radius: 1rem;
    border-width: 1px;
    cursor: pointer;
    min-height: 240px;
    min-width: 372px;
    overflow: hidden;
    padding: 1.5rem;
    position: relative;
    --tw-border-opacity: .1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-bg-opacity: .1;
}

.genre-item__title[data-v-aafb8add] {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.025em;
    line-height: 22px;
    text-align: left;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.genre-item__img[data-v-aafb8add] {
    height: 224px;
    left: 0;
    min-height: 224px;
    min-width: 347px;
    opacity: .8;
    position: absolute;
    top: 83px;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    width: 347px;
}

.genre-item[data-v-aafb8add]:hover {
    background: radial-gradient(96.83% 93.94% at 72% 29%, #ffffff2e, #ffffff08);
}

.genre-item:hover .genre-item__img[data-v-aafb8add] {
    --tw-translate-y: -19px;
    --tw-rotate: -2deg;
    opacity: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (max-width: 1550px) {
    .genre-item[data-v-aafb8add] {
        min-width: 302px;
    }
}

@media (max-width: 1280px) {
    .genre-item[data-v-aafb8add] {
        min-height: 220px;
        min-width: 235px;
        padding: 1.25rem;
    }

    .genre-item__img[data-v-aafb8add] {
        left: -46px;
    }

    .genre-item__title[data-v-aafb8add] {
        font-size: 20px;
        line-height: 18px;
    }
}

@media (max-width: 767px) {
    .genre-item[data-v-aafb8add] {
        min-height: 244px;
        min-width: 320px;
        padding: 1.5rem;
    }

    .genre-item__img[data-v-aafb8add] {
        left: 0;
    }

    .genre-item__title[data-v-aafb8add] {
        font-size: 20px;
        line-height: 18px;
    }
}