html[data-v-5bc727ea] {
    scroll-behavior: smooth;
}
.login-btn[data-v-5bc727ea] {
    align-items: center;
    background: #ffffff1a;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    line-height: 1;
    padding: 8px 14px;
    transition: background-color .1s ease;
}
.login-btn img[data-v-5bc727ea] {
    height: 16px;
    margin-left: 2px;
    width: 16px;
}
.login-btn img[data-v-5bc727ea]:first-child {
    margin-left: 8px;
}
.login-btn--modern[data-v-5bc727ea] {
    background: #00ff931a;
    border: 1px solid rgba(0, 255, 147, .1);
    color: #00ff93;
    font-size: 14px;
    height: 48px;
}
.login-btn--green[data-v-5bc727ea] {
    background: #00ff92;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}
@media (max-width: 1280px) {
    .login-btn[data-v-5bc727ea] {
        font-size: 14px;
    }
}