html[data-v-db69084f] {
    scroll-behavior: smooth;
}
.skeleton-wrap[data-v-db69084f] {
    display: contents;
    height: 15px;
    width: 100%;
}
.skeleton-wrap--active[data-v-db69084f] {
    display: flex;
}
.skeleton-shine[data-v-db69084f] {
    animation: shine-db69084f 1.5s linear infinite;
    background: #ffffff1a;
    background: linear-gradient(110deg, #ededed66 8%, #f5f5f51a 18%, #ededed66 33%);
    background-size: 200% 100%;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
@keyframes shine-db69084f {
    to {
        background-position-x: -200%;
    }
}